<td class="aligned-td" (click)="updateCompany()">
  <span class="img-hover">
    <img class="squared {{company.id}}" src={{company.imageUrl}} />
    <img class="squared" (mouseenter)='showImage(company.id)' (mouseleave)='hideImage(company.id)' src={{company.imageUrl}} />
  </span>
  <span>{{company.name}}</span>
</td>
<td class="text-center aligned-td" >
  <button mat-raised-button color="primary"
          matBadge="{{company.numberOfComputers}}" matBadgePosition="after"
          matBadgeColor="{{company.numberOfComputers == 0 ? 'warn' : 'accent'}}">
    <mat-icon>computer</mat-icon>
  </button>
</td>
<td class="text-center aligned-td">
  <button mat-raised-button color="warn" (click)="deleteCompany()">
    <mat-icon>delete</mat-icon>
  </button>
</td>


