<mat-toolbar color="primary">
  <button mat-button [routerLink]="['/company']">
    <mat-icon class="logo" >computer</mat-icon>
  </button>
  <button mat-button [routerLink]="['/company']">{{ 'HEADER.COMPANIES' | translate }}</button>
  <button mat-button [routerLink]="['/computer']">{{ 'HEADER.COMPUTERS' | translate }}</button>

  <span class="spacer"></span>

  <button mat-button *ngIf="isLoggedIn">{{ 'HEADER.LOG_OUT' | translate }}</button>
  <mat-icon class="navBarItem flag"><img src="assets/france.svg" alt="France flag" (click)="switchTo('fr')"></mat-icon>
  <mat-icon class="navBarItem flag"><img src="assets/united-kingdom.svg" alt="UK flag" (click)="switchTo('en')"></mat-icon>
</mat-toolbar>

