.logo {
  margin-left: 16px;
  margin-right: 16px;
}

.spacer {
  flex: 1 1 auto;
}

.navBarItem {
  margin-left: 10px;
  margin-right: 10px;
}

a {
  text-decoration: none;
}

a:hover{
  color: #CCCCCC;
}

.flag {
  margin-bottom: 14px;
}
