<div class="cardContainer">
  <div>
    <h1>Create a new computer</h1>

    <mat-divider></mat-divider>

    <form [formGroup]="computerAddForm">
      <mat-form-field class="full-width">
        <input matInput placeholder="Computer name" required formControlName="name" name="name" #name/>
        <div *ngIf="!name" class="alert alert-danger">ERROR</div>
        <mat-error>Name of computer is required</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input [min]="minDate" matInput formControlName="introduced" [matDatepicker]="introduced" [errorStateMatcher]="matcher"
                placeholder="Introduction date" name="introduced">
        <mat-datepicker-toggle matSuffix [for]="introduced"></mat-datepicker-toggle>
        <mat-datepicker #introduced></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input  matInput formControlName="discontinued" [matDatepicker]="discontinued" [errorStateMatcher]="matcher"
                placeholder="Discontinuation date" name="discontinued">
        <mat-datepicker-toggle matSuffix [for]="discontinued"></mat-datepicker-toggle>
        <mat-datepicker #discontinued></mat-datepicker>
        <mat-error *ngIf="computerAddForm.hasError('introducedAfterDiscontinued')">Discontinuation date cannot be earlier than introduction date</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-select [(value)]="manufacturer_id" formControlName="manufacturer_id">
          <mat-option value="-1">None</mat-option>
          <mat-option *ngFor="let company of companies" value="{{company.id}}">{{company.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <button mat-raised-button color="primary" (click)=submit()>Confirmer</button>
      </div>
    </form>
  </div>
</div>
