<div class="cardContainer">

  <mat-card class="card">
    <div class="center">
      <h1>Account creation</h1>
    </div>

    <mat-divider></mat-divider>

    <div class="width-75">
      <form class="example-form" [formGroup]="loginForm">

        <mat-form-field class="full-width">
          <input matInput placeholder="Username" formControlName="username" required>
          <mat-error>Username must be at least 5 characters long and musn't contain whitespaces.</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Password" type="password" formControlName="password" required>
          <mat-error>Password must be at least 8 characters long and contain at least one digit, one lowercase character and one uppercase
            character.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Confirm password" type="password" formControlName="passwordConfirmation" required>
          <mat-error>Password confirmation doesn't match the passwrd.</mat-error>
        </mat-form-field>

      </form>
    </div>

    <div class="center">
      <button id="registerButton" mat-raised-button (click)="createAccount()" color="primary">Register</button>
    </div>

  </mat-card>
</div>
