.example-card {
  max-width: 800px;
  width: 800px;
  margin-bottom: 20px;
}

.example-full-width {
  width: 100%;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 148px)
}
