<div class="container">
  <div class="example-container">
    <h2 mat-dialog-title>{{ 'COMPANY.DELETE_COMPANY' | translate }}</h2>
    <mat-dialog-content>{{ 'COMPANY.CONFIRM_DELETION' | translate :{'name': company.name, 'number':company.numberOfComputers } }}</mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>{{ 'GENERAL.NO' | translate }}</button>
      <button mat-raised-button [mat-dialog-close]="true" (click)="delete(company)" color="warn">{{ 'GENERAL.YES' | translate }}</button>
    </mat-dialog-actions>
  </div>
</div>
