<div class="container" *ngIf="companies" @staggerAnim>

  <div class="controlBar shadow">
    <div>
      <mat-form-field>
          <mat-icon *ngIf="searchValue"
                    matPrefix
                    class="clearSearchIcon"
                    aria-label="Clear search"
                    (click)="clearSearch()"
                    color="warn">clear</mat-icon>

          <mat-icon *ngIf="!searchValue"
                    matPrefix>search</mat-icon>

          <input matInput placeholder="Search" [(ngModel)]="searchValue">
      </mat-form-field>

      <button mat-raised-button class="searchButton" color="primary" (click)="search()">Search</button>
    </div>

    <div class="controlBarRight">
      <button mat-raised-button color="primary" (click)="create()">Create a new company</button>
    </div>
  </div>

  <table class="customTable table table-bordered col-12 shadow">
    <thead>
    <th class="col-8">Name</th>
    <th class="col-2">See computers</th>
    <th class="col-2">Delete</th>
    </thead>
    <tr *ngFor=" let company of companies" app-company [company]="company" (delete)="companyDeleted(company)">
    </tr>
  </table>

  <mat-paginator color="primary" #paginator *ngIf="pageEvent" [length]="pageEvent.length"
                 [pageSize]="pageEvent.pageSize"
                 [pageSizeOptions]="pageSizeOptions"
                 (page)="pageEvent = changePage($event)"
                 [showFirstLastButtons]="true">
  </mat-paginator>
</div>
