<div class="cardContainer">
  <div>
    <h1>{{ 'COMPUTER.UPDATE' | translate }}</h1>

    <mat-divider></mat-divider>

    <form [formGroup]="computerAddForm">
      <mat-form-field class="full-width">
        <input matInput placeholder="{{ 'COMPUTER.FORM.NAME' | translate }}" required formControlName="name" name="name" #name/>
        <mat-error>{{ 'COMPUTER.ERROR.NAME' | translate }}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput id="introduced" formControlName="introduced" [errorStateMatcher]="matcher"
                placeholder="{{ 'COMPUTER.FORM.INTRODUCTION' | translate }}" name="introduced" type="date" [value]="introduced"
                (change)="updateDate()">
      </mat-form-field>

      <mat-form-field class="full-width">
        <input  matInput id="discontinued" formControlName="discontinued" [errorStateMatcher]="matcher"
                placeholder="{{ 'COMPUTER.FORM.DISCONTINUATION' | translate }}" id="discontinued"
                name="discontinued" type="date" [value]="discontinued">
        <mat-error *ngIf="computerAddForm.hasError('introducedAfterDiscontinued')">{{ 'COMPUTER.ERROR.INTRODUCED_AFTER_DISCONTINUED' | translate }}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-select [(value)]="selectedCompany_id" formControlName="company">
          <mat-option value="">None</mat-option>
          <mat-option *ngFor="let c of companies" [value]="c.id">{{c.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <button mat-raised-button color="primary" (click)=submit()>Confirmer</button>
      </div>
    </form>
  </div>
</div>
