<div class="container" *ngIf="computers">
  <div class="row align-items-center controlBar shadow">
    <mat-form-field class="col-md-3 col-sm-12">
      <mat-icon *ngIf="searchValue"
                matPrefix
                class="clearSearchIcon"
                aria-label="Clear search"
                (click)="clearSearch()"
                color="warn">clear</mat-icon>

      <mat-icon *ngIf="!searchValue"
                matPrefix>search</mat-icon>

      <input matInput placeholder="{{ 'COMPUTER.SEARCH' | translate }}" [(ngModel)]="searchValue">
    </mat-form-field>

    <mat-radio-group class="example-radio-group" [(ngModel)]="searchType">
      <mat-radio-button class="example-radio-button" *ngFor="let searchOption of searchOptions" [value]="searchOption">
        {{ searchOption }}
      </mat-radio-button>
    </mat-radio-group>

    <button class="col-md-1" mat-raised-button color="primary" (click)="search()">{{ 'COMPUTER.SEARCH' | translate }}</button>

    <mat-form-field class="col-md-2 ">
      <mat-select placeholder="{{ 'SELECT.SORTING_OPTIONS' | translate }}" [(value)]="sortSelected" (selectionChange)="sort()">
        <mat-option *ngFor="let sort of sortOptions" [value]="sort.value">
          {{ sort.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button class="col-md-3 col-lg-2" mat-raised-button color="primary" (click)="create()">{{ 'COMPUTER.CREATE' | translate }}</button>
  </div>

  <table class="customTable table table-bordered shadow">
    <thead>
    <th style="width: 50%">{{ 'COMPUTER.NAME' | translate }}</th>
    <th>{{ 'COMPUTER.COMPANY' | translate }}</th>
    <th>{{ 'COMPUTER.INTRODUCED' | translate }}</th>
    <th>{{ 'COMPUTER.DISCONTINUED' | translate }}</th>
    <th>{{ 'COMPUTER.DELETE' | translate }}</th>
    </thead>
    <tr *ngFor="let computer of computers" app-computer [computer]="computer" (delete)="computerDeleted(computer)">
    </tr>
  </table>

  <button (click)="scrollToTop()" id="scrollButton" title="Go to top">
    <mat-icon>arrow_upward</mat-icon>
  </button>

  <mat-paginator #paginator *ngIf="pageEvent" color="primary" [length]="pageEvent.length"
                 [pageSize]="pageEvent.pageSize"
                 [pageSizeOptions]="pageSizeOptions"
                 (page)="pageEvent = changePage($event)"
                 [showFirstLastButtons]="true"
                 class="shadow">
  </mat-paginator>


</div>
