@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
$primary: rgb(22, 90, 168);
body { margin: 5px; }

.customTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.customTable td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.customTable tr:nth-child(even){background-color: #f2f2f2;}

.customTable tr:hover {background-color: #ddd;}

.customTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: $primary;
  color: white;
}


